@page "{id:int?}"
@model OnlineVerilog.Pages.ExamplesSection.IndexModel

@{
    ViewData["Title"] = "Index";
    var a = @ViewData["Solution"];
}


<div id="vericalNav"style="float: left; width: 15%;">
    <div style="float:right;">
        <button id="nsbtn" class="btn btn-outline-primary" onclick="hideShow()"><i class="fa fa-angle-double-left"></i></button>
    </div>
    @await Component.InvokeAsync("Examples")
</div>

<div id="mainPanel" class="row" style="float: right; width: 85%; background-color: aliceblue; margin-top: -15px; padding: 20px; height: 100%">
    <div class="col-md-12" >        
        <h4 class="blueColor">@ViewData["Header"]</h4>
        <hr />
        <p>@Html.Raw(ViewData["Body"])</p>
        @if (ViewData["ImagePath"] != null && !ViewData["ImagePath"].ToString().Equals(""))
        {
            <div class="ToMiddle">
                <img src="@ViewData["ImagePath"]" width="300" height="250" />
            </div>
        }
        <br /><br />
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>            
            <div class="row main-panel">
                <div class="col-md-10" style="align-content:center;">
                    <h6>Write your solution below</h6>
                </div>
                <div class="col-md-2" style="text-align: right; padding-right: 5px; align-content:center; text-align: center;">
                    <input type="submit" value="Execute" class="btn btn-success" />
                </div>
            </div>
            <div class="form-group">
                <textarea asp-for="Example.TestBench" class="form-control" rows="5" cols="50" hidden>@ViewData["Testbench"]</textarea>
            </div>
            <div class="editor">
                <div class="numbers">
                    <span></span>
                </div>
                <textarea asp-for="Solution" class="txtAr" rows="17" cols="200" title="Solution Code" spellcheck="false"></textarea>
            </div>            
        </form>
        <div class="form-group" style="margin-top: 4px">
            <textarea class="form-control" rows="6" cols="50" disabled style="resize: none;">@ViewData["Output"]</textarea>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    const textarea = document.querySelector(".txtAr");
    const numbers = document.querySelector(".numbers");
    textarea.addEventListener("keyup", (e) => {
        const num = e.target.value.split("\n").length;
        numbers.innerHTML = Array(num).fill("<span></span>").join("");
    });
    textarea.addEventListener("keydown", (event) => {
        if (event.key === "Tab") {
            const start = textarea.selectionStart;
            const end = textarea.selectionEnd;

            textarea.value =
                textarea.value.substring(0, start) +
                "\t" +
                textarea.value.substring(end);

            event.preventDefault();
        }
    });
    window.onload = function () {
        if (textarea.value === ""){
            textarea.value = "module topmodule;\r\rendmodule";

            const num = textarea.value.split("\n").length;
            numbers.innerHTML = Array(num).fill("<span></span>").join("");
        }
    }
    function hideShow() {
        console.log("heheh");
        let list = document.getElementById("exampleList");
        let btn = document.getElementById("nsbtn");
        let nav = document.getElementById("vericalNav");
        let panel = document.getElementById("mainPanel");
        if (list.style.display === "none") {
            list.style.display = "block";
            btn.innerHTML = "<i class=\"fa fa-angle-double-left\"></i>";
            nav.style.width = "15%";
            panel.style.width = "85%";
        } else {
            list.style.display = "none";
            btn.innerHTML = "<i class=\"fa fa-angle-double-right\"></i>";
            nav.style.width = "2%";
            panel.style.width = "98%";
        }
    }
</script>
          